{% import "_macros.html" as macros %}
{% extends "page.html" %}

{% block header %}
<header class="box-shadow">
    {{ macros::render_header() }}
</header>
{% endblock header %}

{% block content %}
<div class="heading-text">{{ page.description }}</div>
{{ page.content | safe }}
{% endblock content %}

{% block sidebar %}
<div class="sidebar">
    <h2 class="title is-2 is-block-fullhd is-skipped">Archive</h2>
    <ul class="link-list archive">
        {% set all_content = get_section(path="news/_index.md") %}
        {% for post in all_content.pages %}
        <li><a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock sidebar %}